header {
  background-color: rgb(50, 105, 105);
  padding: 10px;
}

h1 {
  color: rgb(215, 198, 198);
  text-align: center;
  font-family: didot;
}

.navbar {
  background-color: rgb(50, 105, 105);
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(215, 198, 198);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #6d89aa;
  color: rgb(46, 50, 50);
}
