.border-box {
  box-sizing: border-box;
}

header {
  background-color: rgb(50, 105, 105);
  padding: 0.5rem;
}

h1 {
  color: rgb(215, 198, 198);
  text-align: center;
  font-family: didot;
}

.navbar {
  background-color: rgb(50, 105, 105);
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(215, 198, 198);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #6d89aa;
  color: rgb(46, 50, 50);
}

.active {
  background-color: rgb(52, 56, 56);
}

p {
  color: #39433e;
}
.questions {
  background-color: rgba(140, 168, 161, 0.656);
  padding: 50px;
  margin: 20px;
  font-weight: bolder;
  font-size: 20px;
  font-family: Geneva, Verdana, sans-serif;
}

.show-answer {
  background-color: rgb(50, 105, 105);
  color: rgb(215, 198, 198);
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px rgb(195, 193, 193);
  font-size: 17px;
}

.show-answer:hover {
  background-color: rgb(52, 56, 56);
}
